@import "../styleVariables.scss";

:host {

    flex: 1;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#content-container {
    width: 600px;
}

#textlyLogoImg {
    margin: 150px auto;
    display: block;
}

li {
    line-height: 28px;
}