
<div id="content-container">
    <h3>About</h3>
    <p>
        <i>textly</i> is a text hosting service designed using Angular for the front-end
         and Node.js for the backend. It was created by Jackson Ayling-Campbell.<br>
    </p>

    Attributions:
    <ul>
        <li><i>textly</i> logo font: <a href="https://www.dafont.com/simplisicky.font">https://www.dafont.com/simplisicky.font</a></li>
    </ul>

    Jackson's affiliate links:
    <ul>
        <li>
            
            <a href="https://www.linkedin.com/in/jackson-ayling-campbell-2975aa185/">
                <img src="../../assets/thumbnails/linkedin.png" width="16" height="16">
                 LinkedIn profile
            </a>
        </li>
        <li>
            
            <a href="https://www.dabigboi.me">
                <img src="../../assets/thumbnails/dabigboi.png" width="16" height="16">
                 Portfolio website
            </a>
        </li>
        <li>
            <a id="githubLink" href="https://github.com/loldabigboi">
                <img src="../../assets/thumbnails/github.jpg" for="githubLink" width="18" height="16">
                 Github profile
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UC95d77TpzcQkswyKbczZ3mA?view_as=subscriber">
                <img src="../../assets/thumbnails/youtube.png" width="20" height="14">
                 Youtube channel
            </a>
        </li>
    </ul>
    <img src="../../assets/brand/logo.png" id="textlyLogoImg">
</div>