<nav class="navbar navbar-light justify-content-start">
    <a routerLink="/" class="navbar-brand">
        <img id="navbar-logo" src="../../assets/brand/logo.png" width="auto" height="42px" />
    </a>
    <a routerLink="/" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact: true}" class="navbar-nav">
        Home
    </a>
    <a routerLink="/create" routerLinkActive="link-active" class="navbar-nav nav">
        Create
    </a>
    <a routerLink="/about" routerLinkActive="link-active" class="navbar-nav">
        About
    </a>
    <a routerLink="/support" routerLinkActive="link-active" class="navbar-nav">
        Support
    </a>
    <div *ngIf="loginService.isLoggedIn()" class="ml-auto">
        <span class="navbar-nav" id="loggedInSpan">
            Hi, {{loginService.getLoggedInUser().username}}!
            <button class="primary-button" 
                    (click)="onLogout()"
                    id="logoutButton">Logout</button>
        </span>
        
    </div>
    <div *ngIf="!loginService.isLoggedIn()" class="ml-auto">
        <a routerLink="/login" routerLinkActive="link-active" class="navbar-nav">
            Login
        </a>
    </div>
        
</nav>
