<nav class="navbar navbar-light justify-content-start">
    <a routerLink="/" class="navbar-brand">
        <img id="navbar-logo" src="../../assets/brand/logo.png" width="auto" height="42px" />
    </a>
    <a routerLink="/" routerLinkActive="link-active" class="navbar-nav">
        Home
    </a>
    <a routerLink="/create" routerLinkActive="link-active" class="navbar-nav">
        Create
    </a>
    <a routerLink="/about" routerLinkActive="link-active" class="navbar-nav">
        About
    </a>
    <a routerLink="/support" routerLinkActive="link-active" class="navbar-nav">
        Support
    </a>
</nav>
