@import "../../styleVariables.scss";

nav {
    background-color: $secondaryColor;

    // we adjust the padding to make links fill height of nav
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {

    // see above
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 18px;
    font-weight: 350;
    margin-left: 15px;
    margin-right: 10px;

    color: $unhoveredNavColor;

    &:hover {

        text-decoration: none;
        color: $hoveredNavColor;

    }

}

#loggedInSpan {

    display: inline;
    &:hover {
        color: $unhoveredNavColor;
    }
}

#logoutButton {
    font-size: 16px;
    margin-left: 10px;
}

.link-active {

    padding-bottom: 18px; // decrease padding to compensate for border
    border-bottom: 2px solid black;

}
