@import "../styleVariables.scss";

nav {
    background-color: $secondaryColor;
}

.navbar-nav {

    font-size: 18px;
    font-weight: 350;
    margin-left: 15px;
    margin-right: 10px;

    color: $unhoveredNavColor;

    &:hover {

        text-decoration: none;
        color: $hoveredNavColor;

    }

}
