<span id="loginHeader">
    Login to <img src="../../assets/brand/logo.png" height="64px" width="auto">
</span>
<form id="loginForm" #form="ngForm" (ngSubmit)="submit(form.form)">
    <div class="input-group">
        <label for="emailInput">Email: </label>
        <input ngModel 
               [(ngModel)]="login.email"
               type="text" 
               class="form-control primary-input" 
               placeholder="example@example.com"
               name="email"
               (keyup)="resetErrors($event, form.form)" 
               id="emailInput">
    </div>
    <div class="input-group">
        <label for="passwordInput">Password: </label>
        <input ngModel 
               [(ngModel)]="login.password"
               type="password" 
               class="form-control primary-input" 
               placeholder="abc123"
               id="passwordInput"
               (keyup)="resetErrors($event, form.form)" 
               name="password">
    </div>
    <div *ngIf="form.invalid" class="alert alert-danger" id="invalidAlert">
        Invalid email or password
    </div>
    <div id="buttonContainer">
        <button id="registerButton"
                type="button"
                class="primary-button"
                (click)="router.navigateByUrl('/register')">Register</button>
        <button id="loginButton" 
                type="submit" 
                class="primary-button"
                [disabled]="form.pending">
            <div *ngIf="!authenticating">Login</div>
            <div *ngIf="authenticating" class="spinner-border spinner-border-sm text-dark"></div>
        </button>
    </div>
</form>
