@import "../../styleVariables.scss";

:host {

    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#loginHeader {
    margin-bottom: 23px;
    font-size: 22px;
}

#loginHeader > img {
    margin-left: 10px;
}

#loginForm > .input-group {

    margin-bottom: 10px;

    & > label {
        margin-right: 8px;
    }

}

.primary-button {
    display: inline-block !important;
}

.form-control {
    border-radius: 6px !important;
}

.input-group > label {

    margin: auto;

}

#buttonContainer {

    padding: 10px 0px;
    display: flex;
    justify-content: center;

    & > button {
        margin-right: 10px;
        margin-left: 10px;
    }
}

#invalidAlert {
    padding: 7px 10px;
}