@import "../../styleVariables.scss";

:host {

    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

}

#bodyTextArea {

    min-height: 200px;

}

#create-button {
    float: right;
}

label {
    font-size: 17px;
}