@import "../../styleVariables.scss";

:host {

    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

}

#bodyTextArea {

    min-height: 200px;

}

#createButton {
    margin-top: 10px;
    float: right;
}

#tagsInput {
    margin-top: 10px;
    resize: none; // all resizing is done by component class
}

.model-alert {
    font-size: 14px;
    padding: 4px 9px;
}

label {
    font-size: 17px;
}