<div class="content-container">
    <h2>Create new post</h2>
    <br>
    <form class="form-group">
        <label for="titleInput"><b>Title of post:</b></label>
        <input type="text"
               class="form-control primary-input" 
               id="titleInput"
               formControlName="titleInput" 
               placeholder="Enter title here...">
        <br>
        <label for="bodyTextArea"><b>Body of post:</b></label>
        <textarea class="form-control primary-input" 
                  rows="15" 
                  id="bodyTextArea"
                  placeholder="Enter body here..."></textarea>
    </form>
    <button type="submit" class="primary-button" id="create-button">Create</button>
</div>