@import "../../styleVariables.scss";

:host {

    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

}

#postLoadingSpinner {

    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 25px;
    display: block;

}