@import "../../styleVariables.scss";

:host {

    flex: 1;

    display: flex;
    align-items: center;
    flex-direction: column;

}

#postLoadingSpinner {

    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 25px;
    display: block;

}

#tag-container {

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.tag-pill {

    background-color: $primaryColor;
    border-radius: 4px;
    height: 30px;
    margin-left: 10px;
    padding: 5px 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}